extends templates/template
block content
    include menu-rojo.pug
    .section-contact-email.container
        form(action='/mail' method='POST')
            input.login-form-input(type='text' name='nombres' placeholder='Nombres' required='true')
            input.login-form-input(type='text' name='apellidos' placeholder='Apellidos' required='true')
            input.login-form-input(type='text' name='email' placeholder='Email' required='true')
            textarea.login-form-input(type='' name='mensaje' placeholder='Mensaje' required='true')
            input.login-form-submit(type='submit' name='submit' value="Enviar")