extends templates/template
block content
    include menu-rojo.pug
    .section-contact-email.container
        .title-contact-email
            h2 Contáctenos
                .hr
                    hr
                    img(src="/img/hr/semaphore.svg" alt="Semáforo")
                    hr
        form(action='/mail' method='POST')
            input.login-form-input(type='text' name='nombres' placeholder='Nombres' id="name" required='true')
            input.login-form-input(type='text' name='apellidos' placeholder='Apellidos' id="name" required='true')
            input.login-form-input(type='tel' name='telefono' placeholder='Teléfono' required='true')
            input.login-form-input(type='text' name='email' placeholder='Email' required='true')
            textarea.login-form-input(type='text' name='mensaje' placeholder='Mensaje' required='true')
            input.login-form-submit(type='submit' name='submit' value="Enviar")