extends templates/template
block content
    h2 Galería
    hr
    .section-gallery
        .gallery-item
            img(src="http://lorempixel.com/500/500" alt="Galería")
            P   Lorem ipsum dolor dit amun jajaj jujujuj.
        .gallery-item
            img(src="http://lorempixel.com/500/500" alt="Galería")
            P   Lorem ipsum dolor dit amun jajaj jujujuj.
        .gallery-item
            img(src="http://lorempixel.com/500/500" alt="Galería")
            P   Lorem ipsum dolor dit amun jajaj jujujuj.
        .gallery-item
            img(src="http://lorempixel.com/500/500" alt="Galería")
            P   Lorem ipsum dolor dit amun jajaj jujujuj.
        .gallery-item
            img(src="http://lorempixel.com/500/500" alt="Galería")
            P   Lorem ipsum dolor dit amun jajaj jujujuj.
        .gallery-item
            img(src="http://lorempixel.com/500/500" alt="Galería")
            P   Lorem ipsum dolor dit amun jajaj jujujuj.


