extends templates/template
block content
    .section-description.container
        .description-service
            h2="Brevetes Perú"
            .hr
                hr
                img(src="/img/hr/semaphore.svg" alt="Semáforo")
                hr
            p="Escuela de Conductores Integral autorizada por el Ministerio de Transporte y Comunicaciones(MTC) y por la Gerencia de Transporte Urbano(GTU) para capacitar a los conductores a nivel nacional."
        .description-features
            .feature-column.left
                .feature-card
                    .img-card
                        figure
                            img(src="/img/home/intructor.svg" alt="Intructores calificados")
                    .text-card
                        h3 Intructores calificados
                        p Nuestros instructores cuentan con amplia experiencia teorica y práctica en los diversos niveles que el alumno necesite.
                .feature-card
                    .img-card
                        figure
                            img(src="/img/home/personalizado.svg" alt="Intructores calificados")
                    .text-card
                        h3 Clases personalizadas.
                        p Cada alumno es evaluado y tiene un programa espcializado de entrenamiento teórico y práctico.
                .feature-card
                    .img-card
                        figure
                            img(src="/img/home/simulador.svg" alt="Intructores calificados")
                    .text-card
                        h3 Simuladores de manejo
                        p Antes de conducir por las calles, nuestros alumnos practican en nuestro moderno simulador de manejo.
            .feature-img
                img(src="https://devitems.com/html/driveon-preview/driveon-light/img/feature.png" alt="features")
            .feature-column.right
                .feature-card
                    .img-card
                        figure
                            img(src="/img/home/intructor.svg" alt="Intructores calificados")
                    .text-card
                        h3 Intructores calificados
                        p Nuestros instructores cuentan con amplia experiencia teorica y práctica en los diversos niveles que el alumno necesite.
                .feature-card
                    .img-card
                        figure
                            img(src="/img/home/personalizado.svg" alt="Intructores calificados")
                    .text-card
                        h3 Clases personalizadas.
                        p Cada alumno es evaluado y tiene un programa espcializado de entrenamiento teórico y práctico.
                .feature-card
                    .img-card
                        figure
                            img(src="/img/home/simulador.svg" alt="Intructores calificados")
                    .text-card
                        h3 Simuladores de manejo
                        p Antes de conducir por las calles, nuestros alumnos practican en nuestro moderno simulador de manejo.


    .section-testimony( id="c-slider")
        h2 Nuestros alumnos nos garantizan!
        .hr
            hr
            img(src="/img/hr/semaphore.svg" alt="Semáforo")
            hr
        .slider(id="slider")
            .section
                .testimony-textbox
                    .fa.fa-quote-left
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit ipsum adipisci laudantium, ea rerum dolorum qui? .
                .bubble
                    .fa.fa-circle.one
                    .fa.fa-circle.two
                img.img-avatar(src="http://lorempixel.com/40/40" alt="Testimonio")
                p(class="name") Kadir Inan
                p(class="work") Desingner al UIX.me
            .section
                .testimony-textbox
                    .fa.fa-quote-left
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit ipsum adipisci laudantium, ea rerum dolorum qui? .
                .bubble
                    .fa.fa-circle.one
                    .fa.fa-circle.two
                img.img-avatar(src="http://lorempixel.com/40/40" alt="Testimonio")
                p(class="name") Kadir Inan
                p(class="work") Desingner al UIX.me
            .section
                .testimony-textbox
                    .fa.fa-quote-left
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit ipsum adipisci laudantium, ea rerum dolorum qui? .
                .bubble
                    .fa.fa-circle.one
                    .fa.fa-circle.two
                img.img-avatar(src="http://lorempixel.com/40/40" alt="Testimonio")
                p(class="name") Kadir Inan
                p(class="work") Desingner al UIX.me
            .section
                .testimony-textbox
                    .fa.fa-quote-left
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit ipsum adipisci laudantium, ea rerum dolorum qui? .
                .bubble
                    .fa.fa-circle.one
                    .fa.fa-circle.two
                img.img-avatar(src="http://lorempixel.com/40/40" alt="Testimonio")
                p(class="name") Kadir Inan
                p(class="work") Desingner al UIX.me
            .section
                .testimony-textbox
                    .fa.fa-quote-left
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit ipsum adipisci laudantium, ea rerum dolorum qui? .
                .bubble
                    .fa.fa-circle.one
                    .fa.fa-circle.two
                img.img-avatar(src="http://lorempixel.com/40/40" alt="Testimonio")
                p(class="name") Kadir Inan
                p(class="work") Desingner al UIX.me
            .section
                .testimony-textbox
                    .fa.fa-quote-left
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit ipsum adipisci laudantium, ea rerum dolorum qui? .
                .bubble
                    .fa.fa-circle.one
                    .fa.fa-circle.two
                img.img-avatar(src="http://lorempixel.com/40/40" alt="Testimonio")
                p(class="name") Kadir Inan
                p(class="work") Desingner al UIX.me
        //TODO: Slider

