doctype html
html(lang="en")
  head
    title= Fenecon
    link(rel="stylesheet" href="/css/styles.css")
  body
    .logo-container
      img(src="/FENECON.png")
      a(href="https://mail.zoho.com") Correo corporativo