//
   Created by joseph on 12/04/17.
doctype html
html(lang="es")
    head
        meta(charset="uft-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title="Global Car SAC"
        link(rel="stylesheet" href="/css/styles.css")
    body
        h1="Home-Global Car SAC"
