extends templates/template
block content
    section.locales.container
        .map-item
            iframe(src="https://www.google.com/maps/d/embed?mid=1iKxnPYliAQx8Ul5oV5hj9ayzlDM" width="100%" height="200px" frameborder="0")
        .map-item
            iframe(src="https://www.google.com/maps/d/embed?mid=1iKxnPYliAQx8Ul5oV5hj9ayzlDM" width="100%" height="200px" frameborder="0")
