.info-atencion
    span.left info@global.car
    span.left +51 94999999999
    span.right Lun - Dom: 8am - 7pm
.menu-bar
    .logo
        img(src="/img/logo/logo.png" alt="Logo de Global Car")
        .burguer
            span.fa.fa-bars#icon-bar
    ul.menu-items
        li.list-item: a(href="/") Inicio
        li.list-item: a(href="/nosotros") Nosotros 
        li.list-item: a(href="/cursos/nuevos-ai") Cursos 
        li.list-item: a(href="/categorias/ai") Categorias 
        li.list-item: a(href="/galeria") Galeria
        li.list-item: a(href="") Locales
        li.list-item: a(href="/contacto") Contacto