.info-atencion
    span.left info@global.car
    span.left +51 94999999999
    span.right Lun - Dom: 8am - 7pm
.menu-bar.red
    .logo
        img(src="/img/logo/logo.png" alt="Logo de Global Car")
        .burguer
            span.fa.fa-bars#icon-bar
    ul.menu-items#menu-items
        li.list-item: a(href="/") Inicio
        li.list-item: a(href="/nosotros") Nosotros 
        li.list-item.cursos
            a(href="#") Cursos 
            ul.sub-menu#sub-menuCursos
                li.sub-menu__item: a.sub-item__link(href="/cursos/nuevos-ai") Nuevos AI
                li.sub-menu__item: a.sub-item__link(href="/cursos/recategorizacion") Recategorizacion
                li.sub-menu__item: a.sub-item__link(href="/cursos/solo-manejo") Solo manejo
                li.sub-menu__item: a.sub-item__link(href="/cursos/manejo-defensivo") Manejo defensivo
                li.sub-menu__item: a.sub-item__link(href="/cursos/camioneta") Camioneta 4x4
        li.list-item.categorias
            a(href="#") Categorias
            ul.sub-menu#sub-menuCategorias
                li.sub-menu__item: a.sub-item__link(href="/categorias/ai") AI
                li.sub-menu__item: a.sub-item__link(href="/categorias/aiia") AIIa
                li.sub-menu__item: a.sub-item__link(href="/categorias/aiib") AIIb
                li.sub-menu__item: a.sub-item__link(href="/categorias/aiiia") AIIIa
                li.sub-menu__item: a.sub-item__link(href="/categorias/aiiib") AIIIb
                li.sub-menu__item: a.sub-item__link(href="/categorias/aiiic") AIIIc
        li.list-item: a(href="/galeria") Galeria
        li.list-item: a(href="") Locales
        li.list-item: a(href="/contacto") Contacto