/*
    INDEX OF STYLES | HeadCita
    1. Mobile
        1.1 Home
            1.1.1 Mobile Burger
            1.1.2 Menu
            1.1.3 Banner
            1.1.4 Section: description
            1.1.5 Section: testimony
            1.1.6 Section: business
            1.1.7 Section: contact
            1.1.8  Footer
            1.1.9  Float Button.
        1.2 About US
            1.2.1 Section: description => (1.1.4)
        1.3 Courses
            1.3.1 News AI
        1.4 Categories
        1.5 Locales
        1.6 Gallery
        1.7 Clients
        1.8 Contact
    2. Tablet
    3. Desktop/laptop
    4. Desktop large/ TV
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

/* 1. ################### MOBILE ############################*/
body {
    background: #fafafa;
    color: #333333;;
}
/* 1.1 ========Home========>*/
/* 1.1.1 Mobile Burger-->*/
.mobile-bar {
    background: #941B11;
    width: 100%;
    padding: 10px 10px;
}

.mobile-bar a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    outline: none;
}

.mobile-bar a span{
    margin-right: 10px;
}

/* 1.1.2 Menu-->*/
header {
    width: 100%;
}

header .logo {
    display: none;
}

header nav {
    background: #eeeeee;
    width: 80%;
    height: 100%;
    position: fixed;
    left: -100%;
    transition: all .4s;
}

header nav ul li a {
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: #941B11;
    padding: 10px;
}

header nav ul li a span{
    margin-left: 10px;
}

header nav ul li a:hover {
    background: #EFB317;
    color: #ffffff;
}
header nav ul li ul.courses-menu, header nav ul li ul.categories-menu{
    display: none;
}
header nav ul li:hover ul.courses-menu, header nav ul li:hover ul.categories-menu {
    display: block;
}

header nav ul li:hover ul.courses-menu li a, header nav ul li:hover ul.categories-menu li a  {
    padding-left:  30px;
}

/* 1.1.3 Banner-->*/
section.banner {
    /*noinspection CssUnknownTarget*/
    background: url("/img/banner01.jpg");
    background-size: cover;
    padding: 10px;
}

section.banner .banner-text {
    display: flex;
    align-items: center;
    width: 160px;
    height: 160px;
    margin: auto;
    padding: 5px;
    background: rgba(239, 179, 23, .8);
    border-radius: 50%;
}

section.banner .banner-text h1 {
    font-size: 15px;
    text-align: center;
    color: #fff;
}

section.banner .banner-text p {
    display: none;
}

/* 1.1.4 Section Description-->*/
.section-description {
    text-align: center;
    margin-top: 30px;
}

.section-description .description-service p{
    margin-top: 15px;
}

.section-description .description-service hr {
    width: 100px;
    height: 5px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background: #941B11;
    margin-top: 15px;
}

.section-description .description-features .feature-item{
    border: 2px solid #941B11;
    border-radius: 3px;
    padding: 30px 20px 20px 20px;
    margin-top: 35px;
}

.section-description .description-features .feature-item h3 {
    color: #941B11;
}
.section-description .description-features .feature-item p {
    margin-top: 15px;
}

/* 1.1.5 Section Testimony-->*/
.section-testimony{
    margin-top: 30px;
    background: url("/img/banner01.jpg");
    background-size: cover;
    text-align: center;
}
.background-red{
    width: 100%;
    height: 100%;
    background: rgba(148, 27, 17, 0.8);
    padding: 20px;

}
.section-testimony .fa.fa-quote-left{ /*Comillas*/
    display: block;
    color: white;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
}
.section-testimony p{
    margin-top: 15px;
    color: white;
}

.section-testimony figure img{
    width: 80px;
    border-radius: 50%;
    margin-top: 15px;
}
.section-testimony p span{
    display: block;
    font-weight: bold;
}

/* 1.1.6 Section Business-->*/
.section-business{
    background: black;
    height: 50px;
}
/* 1.1.7 Section Contact-->*/
.section-contact{
    margin-top: 30px;
    padding: 30px 0;
    background: #F0F0F0;
}
.section-contact .container{
    display: flex;
    flex-direction: column;
}
.section-contact .container .contact-item{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.section-contact .container .contact-item span.fa-mobile{
    font-size: 50px;
    color: #941B11;
}
.section-contact .container .contact-item span.fa-envelope{
    font-size: 30px;
    color: #941B11;
}
.section-contact .container .contact-item .contact-item-data{
    width: 170px;
}


/* 1.1.8 Footer-->*/

footer{
    display: flex;
    flex-direction: column;
    background: #696969;
}

footer .footer-social{
    display: flex;
    justify-content: center;
}
footer .social-item{
    margin: 0 10px;
}
footer .footer-links{
    display: flex;
    justify-content: space-between;
}
footer .footer-links figure{
    padding: 0 10px;
    display: flex;
    align-items: center;
}
footer .footer-links figure img{
    display: block;
    width: 100%;
}
footer p{
    padding: 10px;
    font-size: 10px;
    color: white;
    text-align: center;
}

/* 1.1.9 Float Button-->*/
a.float-btn-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 45px;
    height: 45px;
    box-shadow: 0 2px 5px  rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    background: #EFB317;
}
a span.fa.fa-angle-up{
    padding: 5px 0;
    display: block;
    color: white;
    font-size: 30px;
}

/* 1.2=========About US========>*/
/*1.2.1 Section: description => (1.1.4)-->*/
.section-description .description-us{
    display: flex;
    flex-direction: column;
}
.section-description .description-us .us-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    box-shadow: 0 2px 5px  rgba(0, 0, 0, 0.3);
    margin-top: 15px;
    padding: 15px;
    overflow: hidden;
}

.section-description .description-us .us-item figure{
    border-radius: 50%;
    background: #EFB317;
    width: 100px;
}
.section-description .description-us .us-item img{
    display: block;
    width: 100%;
}
.section-description .description-us .us-item .item-text{
    margin-top: 15px;
}
.section-description .description-us .us-item .item-text h3{
    color: #941B11;
}

/* 1.3=========About US========>*/
/*1.3.1 News AI -->*/
.courses .course-item{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 2px 5px  rgba(0, 0, 0, 0.3);
}
.courses .course-item .head-course-item{
    background: url("/img/courses/ai/basic.svg");
}
.courses .course-item .head-course-item .background-color{
    padding: 5px 15px;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
}
.courses .course-item .head-course-item .background-color.basic{
    background: rgba(148, 27, 17, .8);
}
.courses .course-item .head-course-item .background-color.silver{
    background: rgba(200, 200, 200, .8);
}
.courses .course-item .head-course-item .background-color.silver h3{
    color: #333333;
}
.courses .course-item .head-course-item .background-color.gold{
    background: rgba(239, 179, 23, .8);
}
.courses .course-item .head-course-item .background-color.platinium{
    background: rgba(148, 134, 73, .8);
}
.courses .course-item .head-course-item .background-color figure{
    width: 50px;
    height: 50px;
}

.courses .course-item .head-course-item .background-color figure img{
    width: 100%;
}
.courses .course-item .head-course-item .background-color .course-title{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.courses .course-item .head-course-item .background-color span {
    font-size: 12px;
    color: white;
    font-weight: 700;
}
.courses .course-item .head-course-item .background-color h3{
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.courses .course-item .description-course-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.courses .course-item .description-course-item p{
    margin: 5px 0;
}
.courses .course-item .description-course-item p span{
    font-weight: 700;
    margin-right: 3px;
}

/* 1.5=========Locales========>*/
section.locales{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.map-item{
    box-shadow: 0 2px 5px  rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

/* 1.8======= Contact=========>*/
.section-contact-email{
    margin-top: 30px;
}
.section-contact-email form{
    padding: 2em 1em;
}
.section-contact-email form .login-form-input{
    display: block;
    width: 100%;
    margin-bottom: 1em;
    border: none;
    line-height: 2.5em;
    padding: 0 1em;
    background: white;
    border-radius: 4px;
    border: 1px solid #941B11;
}
.section-contact-email form textarea.login-form-input{
    font-size: small;
}
.section-contact-email form .login-form-submit{
    display: block;
    width: 100%;
    border: none;
    background: #941B11;
    color: #EFB317;
    padding: 1em;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    transition: all .3s;
}
.section-contact-email form .login-form-submit:hover{
    background: #EFB317;
    color: white;
}


/* 2. ################## TABLET ############################*/
@media (min-width: 500px) {
    body {
        background: blue;
    }
}

/*3.################## DESKTOP ###########################*/
@media (min-width: 768px) {
    body {
        background: yellow;
    }
}

/*4.#################### TV #############################*/
@media (min-width: 1200px) {

}

