*{
    font-family: sans-serif;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    height: 100vh;
}

img{
    height: calc(300px - 10px);
    margin-bottom: 10px;
    transition: all 0.5s ease;
}
img:hover{
    transform: rotate(360deg)
}

a{
    background: transparent;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #C01519;
    border-radius: 8px;
    cursor: pointer;
    color: #C01519;
    font-weight: 700;
    text-decoration: none;
}

a:hover{
    background: #C01519;
    color: white;
}
