//
   Created by joseph on 12/04/17.
doctype html
html(lang="es")
    head
        meta(charset="uft-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title="Global Car SAC"
        link(href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet")
        link(rel="stylesheet" href="/css/styles.css")
    body
        block content
        footer
            .footer-content
            .footer-social
            p= "Valle del Agro &copy; 2017. Privacy Policy | Desarrollado por HeadCita"
        script(src="/js/source.js")