//
   Created by joseph on 12/04/17.
doctype html
html(lang="es")
    head
        meta(charset="uft-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title Global Car SAC
        link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")
        link(href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet")
        link(rel="stylesheet" href="/css/styles.css")
    body
        header
            .info-atencion
                span.left info@global.car
                span.left +51 94999999999
                span.right Lun - Dom: 8am - 7pm
            .menu-bar
                .logo
                    img(src="/img/logo/logo.png" alt="Logo de Global Car")
                    .burguer
                        span.fa.fa-bars#icon-bar
                ul.menu-items
                    li: a(href="#") Inicio
                    li: a(href="/nosotros") Nosotros 
                    li: a(href="/cursos/nuevos-ai") Cursos 
                    li: a(href="/categorias/ai") Categorias 
                    li: a(href="/galeria") Galeria 
                    li: a(href="/contacto") Contacto
            .banner-content
                form.pre-inscripcion
                    .form-header
                        p Inscribete
                    .form-body
                        input(type="text" placeholder="Nombre" id="nombre")
                        input(type="e-mail" placeholder="Email" id="email")
                        input(type="text" placeholder="Telefono" id="telefono")
                        select
                            option(value="") Nuevos AI
                            option(value="") Recategorizacion
                            option(value="") Solo manejo
                            option(value="") Manejo defensivo
                            option(value="") Camioneta 4x4
                        input(type="submit" value="Enviar")
                img(src="/img/header/bg-headerOscurecido.jpg" class="banner-mobile")
                .mensaje
                    h3.bienvenida Bienvenido a Global Car
                    h1 Aprende a <span>manejar</span> con nosotros
                    p  Somos tu mejor opción para aprender a manejar todo tipo de vehículos <br>y obtener tu brevete de la manera mas rápida y sencilla.
                    .botones
                        a.reservar(href="#") Inscribirse
                        a.ver-mas(href="#") Ver mas


        block content
        .section-contact
            h2 Ubicanos en cualquiera de nuestras oficinas!
            .hr
                hr
                img(src="/img/hr/semaphore.svg" alt="Semáforo")
                hr
            .contact-local
                .local.title
                    h4 Los Cedros
                    span.fa.fa-angle-right
                .local.map
                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.007265185407!2d-79.04617565761006!3d-8.100740095876185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3dbdd15d4e27%3A0xa985b61f6170d8a6!2sAvenida+Pablo+Casals+578%2C+Trujillo!5e0!3m2!1ses-419!2spe!4v1493266210054" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen)
                .local.contact-data
                    h5 Telefonos
                    p 044 457889
                        br
                        | 051 987 654 321
                    h5 Dirección
                    p Av. América Oeste #580
                    h5 Email
                    p atencion@globalcar.pe
            .contact-local.reverse
                .local.title
                    span.fa.fa-angle-left
                    h4 Costa Rica
                .local.map
                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d987.4584430801849!2d-79.0252428471088!3d-8.118401568576134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3d78d488dbc3%3A0x45fba9e53996bdac!2sCosta+Rica+149%2C+Trujillo+13008!5e0!3m2!1ses-419!2spe!4v1493266551133" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen)
                .local.contact-data
                    h5 Telefonos
                    p 044 457889
                        br
                        | 051 987 654 321
                    h5 Dirección
                    p Av. América Oeste #580
                    h5 Email
                    p atencion@globalcar.pe
        footer
            .footer-body                
                .footer-social
                    p Visita nuestras redes sociales
                    .footer-social-span
                        span.fa.fa-facebook-official
                        span.fa.fa-twitter
                        span.fa.fa-youtube
                .footer-links
                    .mtc
                        p Autorizado por
                        figure.mtc
                            img(src="/img/footer/mtc1.png" alt="Autorizado por el Ministerio de Trasportes y Comunicaciones")
                    .google-play
                        p Descarga nuestra app de multas
                        figure.google-play
                            img(src="/img/footer/google-play1.png" alt="Descarga nuestra app disponible en la Google Play")
            .copy-right
                p Global Car SAC &copy; 2017. Privacy Policy | Desarrollado por HeadCita
        script(src="/js/source.js")