extends ../templates/template
block content
    section.category-description
        .title-category
            h2 AI
            .hr
                hr
                img(src="/img/hr/semaphore.svg" alt="Semáforo")
                hr
        .images-categories
            img(src="/img/categories/ai.png" alt="AI")
        .description-categories            
            h3 REQUISITOS
            ul
                li Secundaria completa.
                li Edad 18 años.
                li DNI con dirección domicialiria en Lima.
                li Examen Médico en Centro Médico Servimedic o Psicomedicos.
                li Examen de reglas o profesionalización en la escuela BREVETES PERU.
                li Aprobar el examen de manejo
                li Pago en el Banco de la Nacion de S/ 24.50 por derecho a tu licencia de conducir.
        .aditional-description
            p Todos deben contar con un mínimo de un año con licencia anterior.
            p Al finalizar el curso se le entrega al participante un certificado, el cual le permitirá recategorizar su brevete en el MTC.
