extends ../templates/template
block content
    section.category-description
        .title-category
            h2 AIIA
            hr
        .images-categories
            img(src="/img/categories/aiia.png" alt="AIIA")
        .description-categories            
            h3 REQUISITOS
            ul
                li Examen Médico en Centro Médico Servimedic o Psicomedicos.
                li DNI con Licencia de Conducir (original y copia).
                li 2 fotos tamaño carnet.
                li Edad 21 años.
                li Examen de reglas o profesionalización en la escuela BREVETES PERU.
                li Mínimo 02 años en la categoría AI.
        .aditional-description
            p Todos deben contar con un minimo de un año con licencia anterior.
            p Al finalizar el curso se le entrega al participante un certificado, el cual le permitirá recategorizar su brevete en el MTC.