extends ../templates/template
block content
    header.no-banner
        include ../menu-rojo.pug
    section.category-description
        .title-category
            h2 AIIB
            .hr
                hr
                img(src="/img/hr/semaphore.svg" alt="Semáforo")
                hr
        .images-categories
            img(src="/img/categories/aiib.png" alt="AIIB")
        .description-categories            
            h3 REQUISITOS BREVETE AIIb
            ul
                li Examen Médico en Centro Médico Servimedic o Psicomedicos.
                li DNI con Licencia de Conducir (original y copia).
                li 2 fotos tamaño carnet.
                li Edad 21 años.
                li Examen de reglas o profesionalización en la escuela BREVETES PERU.
                li Mínimo 03 años en la categoría AI.
                li Mínimo 01 años en la categoría AII-a.
        .aditional-description
            p Todos deben contar con un minimo de un año con licencia anterior.
            p Al finalizar el curso se le entrega al participante un certificado, el cual le permitira recategorizar su brevete en el MTC.
