extends ../templates/template
block content
    section.category-description
        h2 AIIb
        .images-categories
            img(src="/img/categories/Car_Yellow.svg" alt="AIIb")
        .description-categories            
            h3 REQUISITOS BREVETE AIIb
            ul
                li Examen Médico en Centro Médico Servimedic o Psicomedicos.
                li DNI con Licencia de Conducir (original y copia).
                li 2 fotos tamaño carnet.
                li Edad 27 años.
                li Examen de reglas o profesionalización en la escuela BREVETES PERU.
                li Mínimo 01 años en la categoría AIII-a / AIII-b.
        .aditional-description
            p Todos deben contar con un minimo de un año con licencia anterior.
            p Al finalizar el curso se le entrega al participante un certificado, el cual le permitira recategorizar su brevete en el MTC.
