extends ../templates/template
block content
    section.category-description
        h2 AIIIc
        h3 REQUISITOS BREVETE AIIIc
        ul
            li Secundaria completa.
            li Edad 18 años.ss
            li DNI con dirección domicialiria en Lima.
            li Examen Medico en Centro Medico.
            li Examen de reglas o profesionalizacion en la escuela.
            li Aprobar el examen de manejo
            li Pago en el Banco de la Nacion de S/ 24.50 por derecho a tu licencia de conducir.
            p Al finalizar el curso se le entrega al participante un certificado, el cual le permitira recategorizar su brevete en el MTC.
