extends ../templates/template
block content
    include ../menu-rojo.pug

    section.title-courses
        h2="Nuevos AI"
        .hr
            hr
            img(src="/img/hr/semaphore.svg" alt="Semáforo")
            hr
    section.courses.container
        .course-item.basic
            .head-course-item
                .background-color.basic
                    figure
                        img()
                    .course-title
                        span Paquete
                        h3 BASICO
            .description-course-item
                p
                    span 12 Horas
                    | de Teoría.
                p
                    span 10 Horas
                    | de Práctica.
                p
                    span Por programacion
                    | Tiempo de duración.
                p
                    span Clases personalizadas
                    | en circuito de manejo.
                p
                    span 06:00am a 10:00pm
                    | Horario de Clases.
                h4 REQUISITOS:
                p Secundaria completa.
                p Edad 18 años.
                p DNI con direccion en la región.
        .course-item.silver
            .head-course-item
                .background-color.silver
                    figure
                        img()
                    .course-title
                        span Paquete
                        h3 SILVER
            .description-course-item
                p
                    span 12 Horas
                    | de Teoría.
                p
                    span 10 Horas
                    | de Práctica.
                p
                    span Por programacion
                    | Tiempo de duración.
                p
                    span Clases personalizadas
                    | en circuito de manejo.
                p
                    span 06:00am a 10:00pm
                    | Horario de Clases.
                h4 REQUISITOS:
                p Secundaria completa.
                p Edad 18 años.
                p DNI con direccion en la región.
        .course-item.gold
            .head-course-item
                .background-color.gold
                    figure
                        img()
                    .course-title
                        span Paquete
                        h3 GOLD
            .description-course-item
                p
                    span 12 Horas
                    | de Teoría.
                p
                    span 10 Horas
                    | de Práctica.
                p
                    span Por programacion
                    | Tiempo de duración.
                p
                    span Clases personalizadas
                    | en circuito de manejo.
                p
                    span 06:00am a 10:00pm
                    | Horario de Clases.
                h4 REQUISITOS:
                p Secundaria completa.
                p Edad 18 años.
                p DNI con direccion en la región.